@import url('https://fonts.googleapis.com/css?family=Tajawal');

html,body{
  font-family: 'Tajawal', sans-serif!important;
}
.wow.animated{
  visibility: hidden;
}
.inline-block{
  display: inline-block;
}
.text-center{
  text-align: center;
}
.navigation li a > i{
  color: #1BA195;
}
.navigation li.active i {
    color: #fff!important;
}
.bg-main-color{
  background-color: #1BA195;
}
.bg-white{
  background-color: #fff;
}
.txt-main-color{
  color: #1BA195;
}
.wt-color{
  color: #fff
}
.page-title i {
    color: #1BA195;
}
.heading-btn-group a i {
    color: #1BA195!important;
}
.heading-btn-group a:hover{
  color: #1BA195
}
.heading-btn-group a:hover i {
    color: #333!important;
}
ul.dropdown-menu.dropdown-menu-right li a:hover {
    background: #1BA195;
    color: #fff;
}
.breadcrumb > li i{
  color: #1BA195
}
.navigation .navigation-header > span {
    display: block;
    margin-top: 2px;
    color: #1BA195;
    font-size: 14px;
    font-weight: 700;
}
.navbar-inverse .navbar-nav > li > a:hover{
  color: #1BA195
}
.sidebar:not(.sidebar-default) .media .text-muted, .sidebar:not(.sidebar-default) .media .media-annotation {
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
}
.footer.text-muted.text-center a {
    color: #1BA195;
    font-size: 16px;
}
.col-sm-6.col-md-3 .panel.panel-body , .panel.panel-flat {
    border-radius: 10px;
    border: 0px;
    box-shadow: 0px 0px 25px rgba(40,40,40,0.15);
}
.panel-flat > .panel-heading > .panel-title {
    color: #1BA195;
}
.breadcrumb > .active {
    color: #26A69A;
}

 .tooltip-inner {background-color: #26A69A;}
.tooltip.top > .tooltip-arrow {
border-top-color:#26A69A;
}

.label-info {
    border-color: #26A69A;
}
.datatable-header .dt-buttons > .btn:hover {
    background: #26A69A;
    color: #fff;
}
span.label{
  border:0px;
  box-shadow: 0px 0px 25px rgba(40,40,40,0.15);
}
.form-control:focus{
  border-color: #26A69A
}
button[type="submit"].btn{
  background: #f9a318!important;
  border: 0px!important
}
button[type="submit"].btn:hover{
  box-shadow: 0px 0px 25px rgba(40,40,40,0.15);
}
.heading-elements .icons-list li a {
    color: #26A69A;
    margin-left: 10px;
}
.icons-list a[data-action]:after{
  font-size: 20px
}
span.action.btn.bg-pink-400 {
    background: #aaa;
    border: 0px;
}
td.dataTables_empty {
    color: #26A69A;
    font-size: 18px;
}
/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #26A69A;
}
.help-block a{
  color: #26A69A
}
.content-wrapper {
    /*background-image: url(../images/logo-bg.png);*/
    background-position: bottom left;
    background-size: 35%;
    background-repeat: no-repeat;
}
.icon-object.text-warning-400.login-icon-logo {
    width: 130px;
    height: 130px;
    border: 1px solid #26A69A;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 20px rgba(38,166,154,0.4);
}
.content .row .col-sm-6.col-md-3{
  animation-name: fadeInRight;
  animation-duration: 1s;
}
.content .row .col-sm-6.col-md-3:first-child{
  animation-delay: 0s;
}
.content .row .col-sm-6.col-md-3:nth-child(2){
  animation-delay: 0.15s;
}
.content .row .col-sm-6.col-md-3:nth-child(3){
  animation-delay: 0.3s;
}
.content .row .col-sm-6.col-md-3:nth-child(4){
  animation-delay: 0.45s;
}
.content .row .col-sm-6.col-md-3:nth-child(5){
  animation-delay: 0.6s;
}
.content .row .col-sm-6.col-md-3:nth-child(6){
  animation-delay: 0.75s;
}
.content .row .col-sm-6.col-md-3:nth-child(6){
  animation-delay: 0.9s;
}
.content .row .col-sm-6.col-md-3:nth-child(6){
  animation-delay: 1.05s;
}
.content .row .col-sm-6.col-md-3:nth-child(6){
  animation-delay: 1.2s;
}
.content .panel.panel-flat{
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-delay: 1.5s;
}
.sidebar-user + .sidebar-category .navigation > li{
  animation-name: fadeInDown;
  animation-duration: 0.5s;
}
.sidebar-user + .sidebar-category .navigation > li:first-child{
  animation-delay: 0s;
}
.sidebar-user + .sidebar-category .navigation > li:nth-child(2){
  animation-delay: 0.05s;
}
.sidebar-user + .sidebar-category .navigation > li:nth-child(3){
  animation-delay: 0.1s;
}
.sidebar-user + .sidebar-category .navigation > li:nth-child(4){
  animation-delay: 0.15s;
}
.sidebar-user + .sidebar-category .navigation > li:nth-child(5){
  animation-delay: 0.2s;
}
.sidebar-user + .sidebar-category .navigation > li:nth-child(6){
  animation-delay: 0.25s;
}
.sidebar-user + .sidebar-category .navigation > li:nth-child(7){
  animation-delay: 0.3s;
}
.sidebar-user + .sidebar-category .navigation > li:nth-child(8){
  animation-delay: 0.35s;
}
.sidebar-user + .sidebar-category .navigation > li:nth-child(9){
  animation-delay: 0.4s;
}
.sidebar-user + .sidebar-category .navigation > li:nth-child(10){
  animation-delay: 0.45s;
}
.sidebar-user + .sidebar-category .navigation > li:nth-child(11){
  animation-delay: 0.5s;
}

.heading-elements .heading-btn-group a{
  animation-name: fadeInRight;
  animation-duration: 1s;
}
.heading-elements .heading-btn-group a:first-child{
  animation-delay: 0.15s;
}
.heading-elements .heading-btn-group a:nth-child(2){
  animation-delay: 0.3s;
}
.heading-elements .heading-btn-group a:nth-child(3){
  animation-delay: 0.45s;
}

.file-type-chart.panel-flat , .file-type-chart.panel-flat > .panel-heading{
  background-color: #fff
}
.dataTables_filter input{
  transition: 0.4s all ease-out;
}
.dataTables_filter input:focus{
  border: 1px solid #26A69A
}
.dataTables_filter > label:after{
  color: #26A69A
}

tr td img{
  border-radius: 50%!important;
  box-shadow: 0px 0px 20px rgba(40,40,40,0.3);
}
.flex-wrap{
  display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}
table thead{
  background: #26A599;
color: #fff;
}
.dataTable thead .sorting:before , .dataTable thead .sorting:after{
  color: #fff
}
.table > thead:first-child > tr:first-child > th {
    box-shadow: 0px 10px 20px -10px rgba(40,40,40,0.4);
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td{
  border:0px;
}
td a:not(.show-file) {
    color: #fff!important;
    background: #26A599;
    display: inline-flex;
    width: 35px;
    height: 35px;
    justify-content: center!important;
    padding: 0!important;
    align-items: center;
    border-radius: 50%;
    transition: 0.4s all ease-in-out

}
td a:not(.show-file) i{
  color: #fff!important;
  margin-left: 0!important;
  transition: 0.4s all ease-in-out
}
td a:not(.show-file) i.text-danger{
  color: #fff!important;
}
td a:not(.show-file):hover i.text-danger{
  color: #f00!important;
}
td a:not(.show-file):hover{
  box-shadow: 0px 0px 20px rgba(0,60,60,0.2)
}
td a.show-file{
  transition: 0.4s all ease-in-out;
  color: #fff;
}
td a.show-file:hover{
  color: #27A599
}
.label-info{
  background-color: #26A599!important
}
tbody{
  background-color: rgb(69,90,100);
  color: #fff;
}
.font-c{
    color: #79bbaf;
}
.flex-wrap .col-sm-6.col-md-3:nth-of-type(odd) .panel.panel-body{
  background: #26A599;
  color: #fff
}
.flex-wrap .col-sm-6.col-md-3:nth-of-type(odd) .panel.panel-body a{
  color: #fff
}
.flex-wrap .col-sm-6.col-md-3:nth-of-type(even) .panel.panel-body{
  background: #fff;
  color: #26A599
}
.flex-wrap .col-sm-6.col-md-3:nth-of-type(even) .panel.panel-body a{
  color: #26A599
}
.flex-wrap .col-sm-6.col-md-3 .panel.panel-body a{
  transition: 0.4s all ease-out!important
}
.flex-wrap .col-sm-6.col-md-3 .panel.panel-body a:hover{
  color:#263238
}
.flex-wrap .col-sm-6.col-md-3 .panel.panel-body h3.no-margin{
  max-width: 140px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.hidden {
	display: none;
}

@media(max-width:767px){
  .chart.has-minimum-width , .chart.has-minimum-width svg {
    min-width: unset;
    max-width:100%;
  }
}
/******************************************************************/
             /*mofication*/
/********************************************************************/
/*body*/

body::-webkit-scrollbar {
	width: .5em;
 

}


body::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(243, 185, 219, .6);
}

body::-webkit-scrollbar-thumb {
	 background-color: #b3987a;
	outline: 1px solid slategrey;
}
/*footer*/
.footer {
    position: absolute;
    bottom: 0px;
    right: 0;
    left: 0;
    padding: 11px;
    background-color: #3c4049;
    text-align: left;
    padding-left: 45px;
   
}
.footer.text-muted.text-center a {
    color: #eaffff;
    font-size: 16px;
}
.text-muted {
    color: #8b928f;
}

/*nav & side-nav*/

.navigation > li.active > a, .navigation > li.active > a:hover, .navigation > li.active > a:focus {
    background-color: #a83864;
    color: #fff;
}

.navbar-inverse {
    background-color: #3C4049;
    border-color: #37474F;
}
.sidebar {
    background-color: #3c4049;
  
}

.navigation .navigation-header > span {
    display: block;
    margin-top: 2px;
    color: #B3987A;
    font-size: 14px;
    font-weight: 700;
}
.navigation .navigation-header > span {
    color: #b3987a;
    font-size: 14px;
    font-weight: 700;
}
.navigation li a > i {
    color: #b3987a;
}

@media (min-width: 769px){
.sidebar-xs .sidebar-main .navigation > li > a > span {
    display: none;
    position: absolute;
    top: 0;
    left: -260px;
    background-color: #a83864;
    border: 1px solid #a83864;
    padding: 11px 20px;
    width: 260px;
    text-align: right;
    color: #fff;
    cursor: pointer;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}
}

.heading-btn-group a i {
    color: #b3987a!important;
}
table thead {
    background: #a83864;
    color: #fff;
}
.navbar-inverse .navbar-nav > li > a:hover {
    color:#b3987a;
}
.btn-float > span {
    font-size: 12px;
    font-weight: bold;
}
.heading-btn-group a  {
    color: #b3987a!important;
}
.heading-btn-group a:hover {
    color: #a83864;
}
.breadcrumb > .active {
    color: #B3987A;
}
.breadcrumb > li i {
    color: #B3987A;
}
.page-title i {
    color: #b3987a;
}
table thead {
    background: #b3987a;
    color: #fff;
}
td a:not(.show-file) {
    background: #b3987a;
}
tbody {
    background-color: rgb(60, 64, 73);
}
.datatable-header .dt-buttons > .btn:hover {
    background: #a83864;
    color: #fff;
}
.dataTables_paginate .paginate_button.current, .dataTables_paginate .paginate_button.current:hover, .dataTables_paginate .paginate_button.current:focus {
    color: #fff;
    background-color: #3c4049;
}
.heading-elements .icons-list li a {
    color: #b3987a;
    margin-left: 10px;
}
.panel-flat > .panel-heading > .panel-title {
    color: #b3987a;
}
.dataTables_filter > label:after {
    color: #b3987a;
}
.dataTables_filter input:focus {
    border: 1px solid #b3987a;
}
.form-control:focus {
    border-color: #b3987a;
}
button[type="submit"].btn {
    background: #b39575!important;
    border: 0px!important;
}
.btn-success {
    color: #fff;
    background-color: #b3987a;
    border-color: #aa9074;
}
.btn-success:focus, .btn-success.focus, .btn-success:hover {
   background-color:#ead0b2 ;
    border-color: #ead0b2;
}
   .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
    background-color:#ead0b2 ;
    border-color: #ead0b2;
}
.btn-success:active:hover, .btn-success.active:hover, .open > .dropdown-toggle.btn-success:hover, .btn-success:active:focus, .btn-success.active:focus, .open > .dropdown-toggle.btn-success:focus, .btn-success:active.focus, .btn-success.active.focus, .open > .dropdown-toggle.btn-success.focus {
    background-color:#ead0b2 ;
    border-color: #ead0b2;
}
.modal-footer button {
    background-color: #b3987a;
    color: #fff;
}
.navigation > li.active > a, .navigation > li.active > a:hover, .navigation > li.active > a:focus {
    background-color: #b3987a;
    color: #fff;
}

.bg-warning {
    background-color: #b3987a;
    border-color: #b3987a;
    color: #fff;
}
.bg-info  , .bg-danger , .bg-success{
    background-color: #b3987a;
    border-color: #00BCD4;
    color: #fff;
}
.navigation > li.active > a:hover {
    background-color: #a83864;
    color: #fff;
}

@media (min-width: 769px){
.sidebar-xs .sidebar-main .navigation > li > a > span {
    display: none;
    position: absolute;
    top: 0;
    left: -260px;
    background-color: #b3987b !important;
    border: 1px solid #b3987a;
    padding: 11px 20px;
    width: 260px;
    text-align: right;
    color: #fff;
    cursor: pointer;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    }
}
@media (min-width: 769px){
.sidebar-xs .sidebar-main .navigation > li > ul {
    position: absolute;
    left: -260px;
    top: 44px;
    width: 260px;
    display: none;
    background-color: #3c4049;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0 0 0 3px;
}
}
@media (min-width: 300px){
    td a:not(.show-file) {
    margin-bottom: 5px;
}
     td a:not(.show-file):last-child {
    margin-bottom: 0px;
}
}
@media (min-width: 662px){
     td a:not(.show-file) {
    margin-bottom: 5px;
}
}
@media (min-width: 663px){
td a:not(.show-file) {
    margin-bottom: 3px;
}}
@media (min-width: 663px){
td a:not(.show-file) {
    margin-bottom: 0px;
}}
::-webkit-scrollbar {
  width: 4px;
    height: 5px;
  border: 1px solid #d5d5d5;
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background: #eeeeee;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #b3987a;
}
.panel.panel-body.bg-success.has-bg-image  , .panel.panel-body.bg-info.has-bg-image , .panel.panel-body.bg-danger.has-bg-image , .panel.panel-body.bg-warning.has-bg-image{
    height: 100px;
}
ul.breadcrumb{
    font-size: 12px;
    font-weight: bold;
}
.form-group.col-md-12.pull-left label {
    font-size: 11px;
    font-weight: bold;
}
.panel-flat > .panel-heading > .panel-title {
    color: #b3987a;
    font-size: 14px;
    font-weight: bold;
}
.panel-flat > .panel-heading + .panel-body {
    padding-top: 0;
    font-size: 11px;
    font-weight: bold;
}
/*copy ;print*/
/*a.btn.btn-default.buttons-copy.buttons-html5 , a.btn.btn-default.buttons-csv.buttons-html5 span , a.btn.btn-default.buttons-print span {
    font-size: 13px;
    font-weight: bold;
}*/

.form-control {
    font-size: 11px;
}
@media (min-width: 300px){
    .pull-left {
    float: none !important;
}
}
@media (min-width: 600px){
     .pull-left {
    float: none !important;
}
}

.flex-prem{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}
td.flex-prem a {
    margin-right: 5px;
}
td.dataTables_empty {
    color: white;
}
.media-right, .media > .pull-right {
     padding-right:0px;
}
.media-right.media-middle i{
    font-size: 40px
}
@media (min-width: 300px){
    .media-right.media-middle i{
    font-size: 35px
}
}
@media (min-width: 600px){
    .media-right.media-middle i{
    font-size: 40px
}
}
@media (min-width: 768px){
    .media-right.media-middle i{
    font-size:  45px
}  
}
@media (min-width: 300px){
    .media-body{
    line-height: 1.5rem
}
}
@media (min-width: 600px){
      .media-body{
    line-height: 2rem
}
}
@media (min-width: 768px){
      .media-body{
    line-height: 2.5rem
}
}

ul.dropdown-menu.dropdown-menu-right li a:hover {
    background:#ac406b;
    color: #fff;
}
.table > thead:first-child > tr:first-child > th{
    background-color: #b3987a
}
select#status{
    color: #000 !important
}